<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>

    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="fas fa-clipboard-list"></i>
                <span>Registro de Visitantes</span>
            </a>
            <a class="navbar-item" href="/historico-de-visitas">
                <i class="fa fa-history"></i>
                <span>Histórico de Visitas</span>
            </a>
            <a class="navbar-item" href="/visitas-em-aberto">
                <i class="fas fa-folder-open"></i>
                <span>Visitas em Aberto</span>
            </a>
            <a class="navbar-item" href="/caixa-de-entrada"> 
                <i class="fas fa-inbox"></i> 
                <span>Caixa de Entrada</span>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
      
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link user-info" id="loggedUserName">
                        <img id="userImage" src="" alt="User Image" style="border-radius: 50%; width: 32px; height: 32px;">
                        <span id="loggedName"></span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="editUser">
                            <i class="fas fa-cog"></i>
                            <span>Configurações</span>
                        </a>
                        <a class="navbar-item" href="/register">
                            <i class="fas fa-user-plus"></i>
                            <span>Cadastrar Usuário</span>
                        </a>
                        <a class="navbar-item" id="logoutButton">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logoff</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    

<div class="container mt-5">
    <div class="box">
        <h1 class="title">Editar Usuário</h1>
        <div id="alert-container"></div>
        <form id="editUserForm">
            <input type="hidden" id="userId" name="id">
            <div class="field">
                <label class="label" for="username">Nome de Usuário</label>
                <div class="control">
                    <input class="input" type="text" id="username" name="username" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="nome">Nome Completo</label>
                <div class="control">
                    <input class="input" type="text" id="nome" name="nome" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="password">Senha</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password">
                </div>
            </div>
            <div class="field">
                <label class="label" for="foto">Foto</label>
                <div class="control">
                    <input class="input" type="file" id="foto" name="foto" accept="image/*">
                </div>
            </div>
            <div class="field">
                <figure class="image is-128x128">
                    <img id="currentFoto" class="is-rounded" src="" alt="Foto Atual">
                </figure>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../js/editUser.js"></script>
<script src="../js/logoff.js"></script>
<script src="../js/util/alert.js"></script>
</body>
</html>
