html, body {
    overflow: hidden;
}

.container {
    height: 100vh;
    overflow: hidden;
}

.inbox-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-list-container {
    flex: 1;
    border-right: 1px solid #ddd;
    border: 1px solid #ddd; /* Adiciona uma borda à lista de mensagens */
    margin-top: 20px; /* Adiciona margem superior para afastar a lista do topo */
    overflow: hidden; /* Remove a rolagem */
}

.message-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

/* Remover efeito de hover */
.message-item:hover {
    background-color: #fff; /* Fundo branco quando passando o mouse */
}

.message-item.read {
    background-color: #fff;
    font-weight: normal; /* Texto normal quando a mensagem é lida */
}

.message-item.unread {
    background-color: #f0f0f0;
    font-weight: bold; /* Texto em negrito quando a mensagem não foi lida */
}

.message-detail {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.message-detail-header {
    border-bottom: 1px solid #ddd;
}

.message-detail-sender {
    margin-bottom: 10px;
}

.message-detail-content {
    margin-top: 20px;
}

.reply-forward-section {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    display: none;
}

#replyForwardTitle {
    margin-top: 20px;
}

.compose-section {
    border-top: 1px solid #ddd;
    display: none;
    margin-top: 40px;
}

.field {
    margin-bottom: 10px;
}

.compose-button-container {
    margin-bottom: 10px;
}

.title-column {
    margin-bottom: 10px;
}

.columns-email {
    display: flex;
    justify-content: space-between; /* Isso distribui o espaço entre as colunas, alinhando uma à esquerda e outra à direita */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 10px; /* Adiciona algum preenchimento ao redor */
}

.column-left {
    display: flex;
    align-items: center; /* Alinha o conteúdo da coluna à esquerda verticalmente */
}

.column-left img {
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.column-left #senderEmail,
.column-left #messageDate {
    display: block;
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    margin: 0;
}

.column-right {
    display: flex;
    align-items: center; /* Alinha os botões verticalmente no centro */
}

.column-right .button {
    margin-left: 10px; /* Espaçamento entre os botões */
}

.button {
    margin: 0;
}

.sidebar {
    margin-top: 20px; /* Adiciona margem superior para afastar a coluna do topo */
}

.box {
    border: none; /* Remove a borda da caixa */
}
