.sender-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.inbox-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-list-container {
    flex: 1;
    border-right: 1px solid #ddd;
    border: 1px solid #ddd; /* Adiciona uma borda à lista de mensagens */
    margin-top: 20px; /* Adiciona margem superior para afastar a lista do topo */
    overflow: hidden; /* Remove a rolagem */
}

.message-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

/* Remover efeito de hover */
.message-item:hover {
    background-color: #fff; /* Fundo branco quando passando o mouse */
}

.message-item.read {
    background-color: #fff;
    font-weight: normal; /* Texto normal quando a mensagem é lida */
}

.message-item.unread {
    background-color: #f0f0f0;
    font-weight: bold; /* Texto em negrito quando a mensagem não foi lida */
}

.message-detail {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.message-detail-header {
    border-bottom: 1px solid #ddd;
}

.message-detail-sender {
    margin-bottom: 10px;
}

.message-detail-content {
    margin-top: 20px;
}

.reply-forward-section {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    display: none;
}

#replyForwardTitle {
    margin-top: 20px;
}

.compose-section {
    border-top: 1px solid #ddd;
    display: none;
    margin-top: 40px;
}

.field {
    margin-bottom: 10px;
}

.compose-button-container {
    margin-bottom: 10px;
}

.title-column {
    margin-bottom: 10px;
}

.columns-email {
    display: flex;
    justify-content: space-between; /* Isso distribui o espaço entre as colunas, alinhando uma à esquerda e outra à direita */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 10px; /* Adiciona algum preenchimento ao redor */
}

.column-left {
    display: flex;
    align-items: center; /* Alinha o conteúdo da coluna à esquerda verticalmente */
}

.column-left img {
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.column-left #senderEmail,
.column-left #messageDate {
    display: block;
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    margin: 0;
}

.column-right {
    display: flex;
    align-items: center; /* Alinha os botões verticalmente no centro */
}

.column-right .button {
    margin-left: 10px; /* Espaçamento entre os botões */
}

.button {
    margin: 0;
}

.sidebar {
    margin-top: 20px; /* Adiciona margem superior para afastar a coluna do topo */
}

.box {
    border: none; /* Remove a borda da caixa */
}

.user-suggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Começa oculto */
}

.user-suggestions.show {
    display: block; /* Exibe quando necessário */
}

.user-suggestions .suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.user-suggestions .suggestion-item:hover {
    background-color: #f0f0f0;
}

.reply-forward-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.reply-forward-section h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.reply-forward-section .label {
    font-size: 16px;
    font-weight: bold;
}

.reply-forward-section .input, .reply-forward-section .textarea {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reply-forward-section .textarea {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    padding: 10px;
    line-height: 1.5;
    resize: none; /* Impede o redimensionamento manual */
    width: 100%; /* Ajusta a largura para preencher o container */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    max-height: 200px; /* Define uma altura máxima para o textarea */
}

.reply-forward-section .button.is-primary {
    background-color: #3273dc;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reply-forward-section .button.is-primary:hover {
    background-color: #2753b3;
}

.reply-forward-section .button.is-light {
    background-color: #f5f5f5;
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reply-forward-section .button.is-light:hover {
    background-color: #e0e0e0;
}

#notificationContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    width: auto;
    max-width: 300px;
    z-index: 1050;
}
