/* Estilos personalizados */
.navbar-item i {
    margin-right: 5px;
  }
  
.button i {
    margin-right: 5px;
  }
  
.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar-item i {
    margin-right: 5px;
}
  
.navbar-burger {
    margin-left: auto;
}

.registerMenuItem{
    display: none;
}

@media screen and (max-width: 768px) {
    .modal-card {
        max-width: 100%;
    }
}

.navbar-item {
    position: relative;
}

.unread-count {
    display: none; /* Escondido inicialmente */
    background-color: red;
    color: white;
    border-radius: 30%;
    padding: 2px 6px;
    font-size: 6px;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1;
}

.unread-count.show {
    display: inline-block; /* Mostrar quando tiver mensagens não lidas */
}
