
  /* Estilização personalizada para o modal */
.modal-card {
    max-width: 800px;
    width: 100%;
}

.modal-card-body {
    padding: 2rem;
}

#viewFoto {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}