
/* Ajuste adicional para garantir o alinhamento do ícone dentro do campo de data */
.input[type="date"] {
    padding-left: 2.5em;
}

.icon.is-left {
    left: 0.75em;
    color: #264653;
    pointer-events: none; /* Isso garante que o clique no ícone não interfira na abertura do date picker */
}

/* Estilo para o formulário */
.field .label {
    color: #264653;
}

.input, .select select {
    border-color: #2a9d8f;
}

.button.is-primary {
    background-color: #2a9d8f;
    border-color: #2a9d8f;
}

/* Estilo do container do gráfico */
.chart-container {
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 100%;
}
